<div class="top-bar">
  <img id="menuBtn" class="menu-icon" src="img/menu.png" width="30" alt="menu">
  <h4>FMT - Admin DASHBORAD</h4>
  
  <div class="nav navbar-header navbar-profile  pull-right">
    <ul class="nav">
      <li class="dropdown" id="profileDropdown">
        <a href="#"><p><img src="img/user.png" width="20" alt="user"> <span></span></p><b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <a id="logout" title="Logout">Logout </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>