<nav class="navbar-container">
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navlist navbarlist-nav">
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/profile_icon.png">
          </span>
          <a href="/dashboard">Home</a>
        </li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/profile_icon.png">
          </span>
          <a>Profiles</a>
        </li>
        <ul class="sub-navlist sub-navbarlist-nav">
          <li id="home"><a href="/truckownerindex?userType=Owner">Truck Owner</a></li>
          <li id="about"><a href="/truckownerindex?userType=Customer">Load Poster</a></li>
          <li id="contact"><a href="/truckownerindex?userType=Broker">Broker</a></li>
          <li id="driver"><a href="/truckownerindex?userType=driver">Driver</a></li>

        </ul>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/load_icon.png">
          </span>
          <a href="/loadsBids">Loads & Bids</a>
        </li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/track_icon.png">
          </span>
          <a href="/tackingindex">Tracking</a></li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/trip_sp_icon.png">
          </span>
          <a href="/tripsPosted">Trips by SP</a></li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/history_icon.png">
          </span>
          <a href="/history">History</a></li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/payment_icon.png">
          </span>
          <a href="/tripsPosted">Payments</a></li>
        <li class="navlist-head">
          <span>
            <img alt="profile" src="img/complaint_icon.png">
          </span>
          <a href="/tripsPosted">Complaints</a>
        </li>
        <li class="navlist-head" id="manageUser">
          <span>
            <img alt="profile" src="img/profile_icon.png">
          </span>
          <a href="/manageUsers">Manage Users</a>
        </li>
        <li class="navlist-head"  id="userLogs">
          <span>
            <img alt="profile" src="img/profile_icon.png">
          </span>
          <a href="/userLogs">User Logs</a>
        </li>
      </ul>
  </div>
</nav>
