<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/header %>
<% include partials/menu %>

<div class="section-container truckowner-index"> 

   <h3>History</h3>
  <div id="loadDetails" class="tabcontent">
    <table id="loadDetailsData" class="display" style="width:100%">
      <thead>
        <tr>
            <th>Tracking #</th>
            <th>Status</th>
            <th>Date Posted</th>
            <th>Load Poster</th>
            <th>Phone Number</th>
            <th>Pick-Up City</th>
            <th>Drop City</th>
            <th>Budget</th>
            <th>KM</th>
            <th>Pick-Up Time</th>
            <th>Truck Type</th>
            <th>Body Type</th>
            <th>Notes / Material</th>
            <th>Payment Method</th>
            <th>FMT %</th>
            <th>Pick-Up Address</th>
            <th>Drop Address</th>
            
        </tr>
    </thead>
  </table>
  </div>
  
</div>
</body>
<% include partials/script %>
<script src="javascripts/history.js"></script>
</html>